services:
  - type: web
    name: gateway
    env: docker
    dockerfilePath: ./src/backend/Gateway/Dockerfile
    dockerContext: ./src/backend/Gateway
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production

      - key: ASPNETCORE_URLS
        value: http://+:80

      - key: ISSUER_URL
        value: http://issuer:80

      - key: VERIFIER_URL
        value: http://verifier:80

      - key: TRUST_REGISTRY_URL
        value: http://trust-registry:80

  - type: web
    name: issuer
    env: docker
    dockerfilePath: ./src/backend/IssuerSolution/Dockerfile
    dockerContext: ./src/backend/IssuerSolution
    envVars:
      - key: ConnectionStrings__DefaultConnection
        sync: false
      
      - key: ASPNETCORE_URLS
        value: http://+:80

      - key: ASPNETCORE_ENVIRONMENT
        value: Production
      
      - key: Jwt__Secret
        sync: false
      
      - key: Jwt__Issuer
        sync: false
      
      - key: Jwt__Audience
        sync: false

      - key: Jwt__ExpirationToken
        sync: false

      - key: RSA_PRIVATE_KEY
        sync: false

      - key: Email__Sender
        sync: false
      
      - key: Email__password
        sync: false
      
      - key: Email__smtpHost
        sync: false

      - key: Email__smtpPort
        sync: false



  - type: web
    name: verifier
    env: docker
    dockerfilePath: ./src/backend/VerifierSolution/Dockerfile
    dockerContext: ./src/backend/VerifierSolution
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production

      - key: ASPNETCORE_URLS
        value: http://+:80

  - type: web
    name: trust-registry
    env: docker
    dockerfilePath: ./src/backend/TrustRegistrySolution/Dockerfile
    dockerContext: ./src/backend/TrustRegistrySolution
    envVars:
      - key: ConnectionStrings__DefaultConnection
        sync: false

      - key: ASPNETCORE_URLS
        value: http://+:80

      - key: ASPNETCORE_ENVIRONMENT
        value: Production