services:
  - type: web
    name: gateway
    env: docker
    dockerfilePath: ./src/backend/Gateway/Dockerfile
    dockerContext: ./src/backend/Gateway
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production

      - key: ISSUER_URL
        value: http://issuer:80

      - key: VERIFIER_URL
        value: http://verifier:80

      - key: TRUST_REGISTRY_URL
        value: http://trust-registry:80

  - type: web
    name: issuer
    env: docker
    dockerfilePath: ./src/backend/IssuerSolution/Dockerfile
    dockerContext: ./src/backend/IssuerSolution
    envVars:
      - key: ConnectionStrings__DefaultConnection
        sync: false

      - key: ASPNETCORE_ENVIRONMENT
        value: Production

  - type: web
    name: verifier
    env: docker
    dockerfilePath: ./src/backend/VerifierSolution/Dockerfile
    dockerContext: ./src/backend/VerifierSolution
    envVars:
      - key: ASPNETCORE_ENVIRONMENT
        value: Production

  - type: web
    name: trust-registry
    env: docker
    dockerfilePath: ./src/backend/TrustRegistrySolution/Dockerfile
    dockerContext: ./src/backend/TrustRegistrySolution
    envVars:
      - key: ConnectionStrings__DefaultConnection
        sync: false

      - key: ASPNETCORE_ENVIRONMENT
        value: Production